@CHARSET "UTF-8";
body{
	background-color : 	#093145;
	
}
fieldset{
	background-color : #EBc944;
	margin : 5px;
	color : white;
	border-radius : 8px;
}
table{
	color : white;
	text-decoration: blink;
}
input {
	border-radius : 5px;
	
}
select{
	border-radius : 5px;
}
