@CHARSET "UTF-8";
body{
	background-color : 	#093145;
	
}
p{
	margin:0;
	font-size:200%;
	
}
p:last-child{
	font-size : 80%; 
	color :red;
}
form{
	padding : 1%;
	margin : 2%;
	background-color : #EBc944;
	position: fixed; /* or absolute */
  	top: 33%;
 	 left: 33%;

 	 color : white;
 	 font-size : 110%;
	
	font-family: fantasy;
}

input{
	padding-bottom : 2%;
	padding-top : 2%;
	padding-right : 0%;
	padding-left : 0%;
	margin-bottom:5%;
	width : 100%;
	border-radius : 5px;
	float : right;

}

input[type="submit"] {
	
	width : 100%;
}
input:hover{
	background-color : lightgray;
	
}

a{
	text-align:right;
	text-decoration: none;
}
a:HOVER{
	text-align:right;
	color:red;
	text-decoration: none;
}
a:VISITED{
	text-align:right;
	text-decoration: none;
}