@CHARSET "UTF-8";
body{
	background-color : 	#093145;
	
}
form{
	position: fixed; /* or absolute */
	left : 30%;
	top : 30%;
	border-radius : 7px;
	
	color : white;
	font-family: fantasy;
	width : 25%;
	height : 25%;
	background-color : #EBc944;
}
table{
	width : 100%;
	height : 100%; 
}
input{
	height:100%;
	padding: 3%;
	margin : 0px;
	border : 0px;
	border-radius : 5px;
}
input[type = text]{
	width :90%;
}

input[type = text]:HOVER{
	background-color: silver;
	width :90%;
}

input[type = button]{
	margin : 1%;
	width : 45%;
}
input[type = button]:HOVER {
	width : 45%;
	background-color: silver;
}

input[type = submit]{
	margin : 1%;
	width : 45%;
}
input[type = submit]:HOVER {
	width : 45%;
	background-color: silver;
}