<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Route</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script>

		var app = angular.module('angularjs-starter', []);

		  app.controller('MainCtrl', function($scope) {

		  $scope.choices = [{id: 'choice1'}, {id: 'choice2'}];
		  
		  $scope.addNewChoice = function() {
		    var newItemNo = $scope.choices.length+1;
		    $scope.choices.push({'id':'choice'+newItemNo});
		  };
		    
		  $scope.removeChoice = function() {
		  if($scope.choices.length>1){
		    var lastItem = $scope.choices.length-1;
		    $scope.choices.splice(lastItem);
			}
		  };
		  
		});
		$(document).ready(function() { 
		$("#routeForm").submit(function( e ) { 
			    //prevent the default submithandling
			    e.preventDefault();
			
			    //send the data of 'this' (the matched form) to yourURL
			    $.post('${pageContext.request.contextPath}/admin/track', $(this).serialize());
			});
		});
		</script>
		<style>
		div{
			margin-left:33%;
			width:20%; 
		}
		#choicesDisplay {
		    padding: 10px;
		    background: rgb(227, 250, 227);
		    border: 1px solid rgb(171, 239, 171);
		    color: rgb(9, 56, 9);
		}
		.remove{
		    background: #C76868;
		    color: #FFF;
		    font-weight: bold;
		    font-size: 21px;
		    border: 0;
		    cursor: pointer;
		    display: inline-block;
		    padding: 4px 9px;
		    vertical-align: top;
		    line-height: 100%;   
		}
		.addfields{
		background: #67c771;
		    color: #FFF;
		    font-weight: bold;
		    font-size: 21px;
		    border: 0;
		    cursor: pointer;
		    display: inline-block;
		    padding: 4px 9px;
		    vertical-align: top;
		    line-height: 100%;   
		}
		.submitfiled{
		width:100%;
		padding:5px;
		background: white;
		border-radius : 5px;
		}
		input[type="text"],
		select{
			border-radius : 5px;
		    padding:5px;
		}
		body{
			background-color : 	#093145;
			
		}
		fieldset{
			background-color : #EBc944;
			margin : 5px;
			color : white;
			border-radius : 8px;
		}
		
		</style>
</head>
<body>
<div ng-app="angularjs-starter" ng-controller="MainCtrl">
<form name="routeForm" id="routeForm" method = POST>
	<input type="hidden" value="${packet.idpacket}">
   <fieldset  data-ng-repeat="choice in choices">
      <select id="city" name = "city">
		<c:forEach var="theCity" items="${cities}">
        	<option value="${theCity.idcity}"><c:out value="${theCity.cityname}"/></option>
   		 </c:forEach>													 	
	 </select>
      <input type="text" ng-model="date" name="date" placeholder="DD/MM/YYYY">
      <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
      <button class="addfields" ng-show="$last" ng-click="addNewChoice()">+</button>
   </fieldset>
    <input type="submit" value="Submit" class="submitfiled"/>
   </form>   
</div>
</body>
</html>


