<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Client">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <dependent-module archiveName="common-classes.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/common-classes/common-classes">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="Client"/>
        <property name="java-output-path" value="/Client/target/classes"/>
    </wb-module>
</project-modules>
